In [1]:
import pandas as pd
import numpy as np

In [14]:
dict_data = {'a':1,'b':2,'c':3}

print(dict_data)
print(type(dict_data))
print(len(dict_data))
# key = a , value = 1
sr = pd.Series(dict_data)
print('sr = \n',sr)
#series 변환 이유 : 편리한 함수를 사용할수있기때문에 변환
print('type = ',type(sr))

{'a': 1, 'b': 2, 'c': 3}
<class 'dict'>
3
sr =
 a    1
b    2
c    3
dtype: int64
type =  <class 'pandas.core.series.Series'>

In [22]:
# pd.series
print(dict_data)
print('key',dict_data.keys())
print('value',dict_data.values())
print('item',dict_data.items())

print()
# sr
#dict = key == indx valuee == values

print('index :',sr.index)
print('value',sr.values)

{'a': 1, 'b': 2, 'c': 3}
key dict_keys(['a', 'b', 'c'])
value dict_values([1, 2, 3])
item dict_items([('a', 1), ('b', 2), ('c', 3)])

index : Index(['a', 'b', 'c'], dtype='object')
value [1 2 3]

In [56]:
#From dict
a = {1:'apple',2:'banana',3:'grape'}

b= pd.Series(a)
print(b)
print('index :',b.index)
print('value',b.values)
print()
#From list
sr_list = pd.Series(['apple','banan','grape'],index=range(1,4))

#From tuple
sr_list = pd.Series(('apple','banan','grape'),index=range(1,4))


print(sr_list)
print(type(sr_list))

1     apple
2    banana
3     grape
dtype: object
index : Index([1, 2, 3], dtype='int64')
value ['apple' 'banana' 'grape']

1    apple
2    banan
3    grape
dtype: object
<class 'pandas.core.series.Series'>

In [39]:
print(b)
print(b.index[0:2])
print(b.values[1])

1     apple
2    banana
3     grape
dtype: object
Index([1, 2], dtype='int64')
banana

In [53]:
sr_list = pd.Series(['2019-01-02',3.14,'ABC',100,True],index=range(1,6))
print(sr_list)

# 1    2019-01-02
# 2          3.14
# 3           ABC
# 4           100
# 5          True

#inex로 접근한다. numpy처럼 0부터접근하지 않음
sr_list[1:3]

# loc방식 로케이션 엑셀형식으로 뽑겠다 index 값을 기준으로
print('loc : ',sr_list.loc[1:3])

# numpy 형식으로 뽑겠다 key값 기준 0->1->2 
print('iloc : ',sr_list.iloc[1:3])

1    2019-01-02
2          3.14
3           ABC
4           100
5          True
dtype: object
loc :  1    2019-01-02
2          3.14
3           ABC
dtype: object
iloc :  2    3.14
3     ABC
dtype: object

In [57]:
print(list(sr_list.index))

[1, 2, 3]

In [93]:
tup_data = ('영인','2010-05-05','여',True)

sr_from_tup = pd.Series(tup_data,index=['이름','생년월일','성별','학생여부'])

print(sr_from_tup)
sr_from_tup['이름']
print()
print(sr_from_tup['이름':'성별'])
print()
#iloc numpy 방식으로 0:1까지 출력
print('iloc = ',sr_from_tup.iloc[:2])
#필요한것만 뽑을경우
print()
print(sr_from_tup[['이름','학생여부']])

이름              영인
생년월일    2010-05-05
성별               여
학생여부          True
dtype: object

이름              영인
생년월일    2010-05-05
성별               여
dtype: object

iloc =  이름              영인
생년월일    2010-05-05
dtype: object

이름        영인
학생여부    True
dtype: object

In [104]:
data_ex = ['apple','tmato','banana','melon','grape','pear']


sr_ex = pd.Series(data_ex,index=['A','B','C','D','E','F'])

#inex를 list로 할수도 있다.
sr_ex = pd.Series(data_ex,index=list('ABCDEF'))
print(sr_ex)

print()

#Indexing iloc loc
print(sr_ex[['C','E']])
print('iloc ',sr_ex.iloc[[2,4]])

print()


#slicing iloc , lic
print(sr_ex.loc['B':'E'])
print('iloc ',sr_ex.iloc[1:5])

A     apple
B     tmato
C    banana
D     melon
E     grape
F      pear
dtype: object

C    banana
E     grape
dtype: object
iloc  C    banana
E     grape
dtype: object

B     tmato
C    banana
D     melon
E     grape
dtype: object
iloc  B     tmato
C    banana
D     melon
E     grape
dtype: object

In [115]:
ex_sr = pd.Series(range(4,8),index=list('abcd'),dtype=np.int16,name='variable')
print(ex_sr)


print()
#list 사용
ex_ez = [[10,20],20,30]
ex_ssr = pd.Series(ex_ez,index=['Kim','Park','Hong'])
print(ex_ssr)

#dict 사용
dict_type = {
    
    'kim' : [10,20],
    'kim' : 20,
    'kim' : 10

}

a    4
b    5
c    6
d    7
Name: variable, dtype: int16

Kim     [10, 20]
Park          20
Hong          30
dtype: object

In [124]:
# Data Frame

dict_data = {
    'C0':[1,2,3],'c1':[4,5,6],'c2':[7,8,9],
    'c3':[10,11,12],'c4':[13,14,15] 
}

print(dict_data)
df = pd.DataFrame(dict_data,index=range(1,4))   
print(df)

{'C0': [1, 2, 3], 'c1': [4, 5, 6], 'c2': [7, 8, 9], 'c3': [10, 11, 12], 'c4': [13, 14, 15]}
   C0  c1  c2  c3  c4
1   1   4   7  10  13
2   2   5   8  11  14
3   3   6   9  12  15

In [138]:
test ={
    '수학':[90,80,70],
    '영어':[98,89,95],
    '성별':['남','남','여'],
    '합격':[True,False,True]
    
}
print(test)
test_d = pd.DataFrame(test,index=['김씨','이씨','박씨'])
print(test_d)

{'수학': [90, 80, 70], '영어': [98, 89, 95], '성별': ['남', '남', '여'], '합격': [True, False, True]}
    수학  영어 성별     합격
김씨  90  98  남   True
이씨  80  89  남  False
박씨  70  95  여   True

In [150]:
df_from_list= pd.DataFrame(
    [[90,98,'남',True],
     [80,89,'남',False],
     [70,95,'여',True]],
     columns=['수학','영어','성별','힙격'],
    index=['김씨','이씨','박씨']
    )

print(df_from_list)
print(df_from_list.index)
print(df_from_list.columns)

    수학  영어 성별     힙격
김씨  90  98  남   True
이씨  80  89  남  False
박씨  70  95  여   True
Index(['김씨', '이씨', '박씨'], dtype='object')
Index(['수학', '영어', '성별', '힙격'], dtype='object')

In [152]:

list_ex = pd.DataFrame([[15,'남','덕영중'],[17,'여','수리중']]
                       ,index=['준서','예은'],columns=range(1,4))
print(list_ex)


list_ex = pd.DataFrame([[15,'남','덕영중'],[17,'여','수리중']]
                       ,index=['준서','예은'],columns=['나이','성별','학교'])
print(list_ex)

     1  2    3
준서  15  남  덕영중
예은  17  여  수리중
    나이 성별   학교
준서  15  남  덕영중
예은  17  여  수리중

In [157]:
df = pd.DataFrame(
    [['green','M',13.5,'class1'],
     ['red','L',15.3,'class2']]
)

df.columns = ['color','size','price','class']
df.index= range(1,3)
print(df)

   color size  price   class
1  green    M   13.5  class1
2    red    L   15.3  class2

In [165]:
# DataFrame 수정

df = pd.DataFrame(
    [[15,'남','영우중'],
     [17,'여','에티중']],
    columns = ['나이','성별','학교'],
    index = ['준서','은별']
)

print(df)

df.rename(columns={'나이':'연령','성별' :'남여'}
          ,inplace=True)
print(df)
df.rename(index={'준서':'학생1','은별':'학생2'},inplace=True)
print(df)

    나이 성별   학교
준서  15  남  영우중
은별  17  여  에티중
    연령 남여   학교
준서  15  남  영우중
은별  17  여  에티중
     연령 남여   학교
학생1  15  남  영우중
학생2  17  여  에티중

In [202]:
exam_data= {
    '수학' : [90,80,70],'영어':[98,89,95],'음악':[85,95,100],'체육':[100,90,90]
}

df = pd.DataFrame(exam_data,index=['서준','우현','인아'])
print(df)
print(df.drop(['서준','우현'],axis=0))

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90
    수학  영어   음악  체육
인아  70  95  100  90

In [203]:
df1=df.copy()
print(df.drop('수학',axis=1,inplace=True))

None

In [220]:
df_rename = pd.DataFrame({
    'A' : [1,2,1,2],
    'B' : '2010-07-20',
    'C' : 1.0,
    'D' : ['test','train','test','train'],
    'E' : 'foo'
})

print(df_rename)
df_rename.drop(3,axis=0,inplace=True)
df_rename

df_rename.rename(columns={'A':'Type','B':'Date'}
                 ,index={0:'A',1:'B'},inplace=True)
df_rename

   A           B    C      D    E
0  1  2010-07-20  1.0   test  foo
1  2  2010-07-20  1.0  train  foo
2  1  2010-07-20  1.0   test  foo
3  2  2010-07-20  1.0  train  foo

   Type        Date    C      D    E
A     1  2010-07-20  1.0   test  foo
B     2  2010-07-20  1.0  train  foo
2     1  2010-07-20  1.0   test  foo

In [253]:
exam_data= {
    '수학' : [90,80,70],'영어':[98,89,95],'음악':[85,95,100],'체육':[100,90,90]
}

df = pd.DataFrame(exam_data,index=['서준','우현','인아'])
print(df)

df['서준':'인아']

print(df.loc['서준':'우현',['수학','음악']])

print(df.iloc[0:2,1:])

df.set_index('수학',inplace=True)
print(df)

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90
    수학  음악
서준  90  85
우현  80  95
    영어  음악   체육
서준  98  85  100
우현  89  95   90

In [272]:
df_loc = pd.DataFrame([["고기", 4, "사자", "yes", "no"],
                      ["풀", 4, "사슴", "yes", "no"],
                      ["고기", 4, "늑대", "yes", "no"],
                      ["고기", 2, "독수리", "yes", "yes"],
                      ["잡식", 2, "곰", "no", "yes"]],
                     columns =  ["주식", "다리갯수", "이름", "무리생활", "비행"])
print(df_loc)
print()
print(df_loc.iloc[0:4])
print()
print(df_loc.loc[0:3,:])
print()
print(df_loc.loc[:,['주식','이름','비행']])

print()
print(df_loc.loc[[0,2,3],['주식','이름','무리생활']])

   주식  다리갯수   이름 무리생활   비행
0  고기     4   사자  yes   no
1   풀     4   사슴  yes   no
2  고기     4   늑대  yes   no
3  고기     2  독수리  yes  yes
4  잡식     2    곰   no  yes

   주식  다리갯수   이름 무리생활   비행
0  고기     4   사자  yes   no
1   풀     4   사슴  yes   no
2  고기     4   늑대  yes   no
3  고기     2  독수리  yes  yes

   주식  다리갯수   이름 무리생활   비행
0  고기     4   사자  yes   no
1   풀     4   사슴  yes   no
2  고기     4   늑대  yes   no
3  고기     2  독수리  yes  yes

   주식   이름   비행
0  고기   사자   no
1   풀   사슴   no
2  고기   늑대   no
3  고기  독수리  yes
4  잡식    곰  yes

   주식   이름 무리생활
0  고기   사자  yes
2  고기   늑대  yes
3  고기  독수리  yes

In [279]:
## Insert, Delete

exam_data = {'이름' : [ '서준', '우현', '인아'],
             '수학' : [ 90, 80, 70],
             '영어' : [ 98, 89, 95],
             '음악' : [ 85, 95, 100],
             '체육' : [ 100, 90, 90]}

df = pd.DataFrame(exam_data)
print(df)

df['국어'] = [62,77,59]
df['물리'] = 100

df.loc[3]=['흥민',95,70,90,100,80,100]

print(df)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90
   이름  수학  영어   음악   체육  국어   물리
0  서준  90  98   85  100  62  100
1  우현  80  89   95   90  77  100
2  인아  70  95  100   90  59  100
3  흥민  95  70   90  100  80  100

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90
    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90
    수학  영어   음악  체육
이름
서준  90  98   85  50
우현  80  89   95  90
인아  70  95  100  90

In [296]:
exam_data = {'이름' : [ '서준', '우현', '인아'],
             '수학' : [ 90, 80, 70],
             '영어' : [ 98, 89, 95],
             '음악' : [ 85, 95, 100],
             '체육' : [ 100, 90, 90]}

df = pd.DataFrame(exam_data)

print(df)
df.set_index('이름',inplace = True)
print(df)
df.loc['서준','체육']=50
print(df)

df.iloc[1,1]=70

print(df)

df.loc['서준',['음악','체육']]=100,50

print(df.T)
print(df.transpose())

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90
    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90
    수학  영어   음악  체육
이름
서준  90  98   85  50
우현  80  89   95  90
인아  70  95  100  90
    수학  영어   음악  체육
이름
서준  90  98   85  50
우현  80  70   95  90
인아  70  95  100  90
이름   서준  우현   인아
수학   90  80   70
영어   98  70   95
음악  100  95  100
체육   50  90   90
이름   서준  우현   인아
수학   90  80   70
영어   98  70   95
음악  100  95  100
체육   50  90   90

In [312]:
dict_data = {
    'C0':[1,2,3],'c1':[4,5,6],'c2':[7,8,9],
    'c3':[10,11,12],'c4':[13,14,15] 
}
df=pd.DataFrame(dict_data,
                index = ['r0','r1','r2']) 
print(df)

new_index = ['r0','r1','r2','r3','r4']

df2=df.reindex(new_index)

df2 = df.reindex(new_index,fill_value=0)

df3=df.reset_index()

# print(df2)
print(df3)

df4=df.sort_index(ascending=False)

print(df4)

    C0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15
  index  C0  c1  c2  c3  c4
0    r0   1   4   7  10  13
1    r1   2   5   8  11  14
2    r2   3   6   9  12  15
    C0  c1  c2  c3  c4
r2   3   6   9  12  15
r1   2   5   8  11  14
r0   1   4   7  10  13

In [317]:
df5 = df.sort_values(by='c4',ascending=False)
print(df5)

    C0  c1  c2  c3  c4
r2   3   6   9  12  15
r1   2   5   8  11  14
r0   1   4   7  10  13

In [321]:
# Broadcasting

student1 = pd.Series({'국어':100,'영어':80,'수학':90})

print(student1)

student1_per = (student1*100)/ 200
print(student1_per)

국어    100
영어     80
수학     90
dtype: int64
국어    50.0
영어    40.0
수학    45.0
dtype: float64

In [346]:
student1_pre = pd.Series({'국어':100,'영어':80,'수학':90})
student1_post = pd.Series({'국어':80,'영어':90,'수학':80})

addition = student1_pre+student1_post
subtraction = student1_pre-student1_post

multi = student1_pre*student1_post
dicision = student1_pre/student1_post

result = pd.DataFrame([addition,subtraction,multi,dicision],
                      index = ['덧셈','뺄셈','곱셈','나눗셈'])
print(result.round(1))

         국어      영어      수학
덧셈    180.0   170.0   170.0
뺄셈     20.0   -10.0    10.0
곱셈   8000.0  7200.0  7200.0
나눗셈     1.2     0.9     1.1

In [352]:
! pip install seaborn

Requirement already satisfied: seaborn in c:\users\chwo6\anaconda3\envs\pandas_study\lib\site-packages (0.12.2)
Requirement already satisfied: numpy!=1.24.0,>=1.17 in c:\users\chwo6\anaconda3\envs\pandas_study\lib\site-packages (from seaborn) (1.24.3)
Requirement already satisfied: pandas>=0.25 in c:\users\chwo6\anaconda3\envs\pandas_study\lib\site-packages (from seaborn) (2.0.1)
Requirement already satisfied: matplotlib!=3.6.1,>=3.1 in c:\users\chwo6\anaconda3\envs\pandas_study\lib\site-packages (from seaborn) (3.7.1)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\chwo6\anaconda3\envs\pandas_study\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.0.7)
Requirement already satisfied: cycler>=0.10 in c:\users\chwo6\anaconda3\envs\pandas_study\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\chwo6\anaconda3\envs\pandas_study\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (4.39.3)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\chwo6\anaconda3\envs\pandas_study\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\chwo6\anaconda3\envs\pandas_study\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (23.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\chwo6\anaconda3\envs\pandas_study\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (9.5.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\chwo6\anaconda3\envs\pandas_study\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\chwo6\anaconda3\envs\pandas_study\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\chwo6\anaconda3\envs\pandas_study\lib\site-packages (from pandas>=0.25->seaborn) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in c:\users\chwo6\anaconda3\envs\pandas_study\lib\site-packages (from pandas>=0.25->seaborn) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\chwo6\anaconda3\envs\pandas_study\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.1->seaborn) (1.16.0)

In [2]:
import seaborn as sns

titanic = sns.load_dataset('titanic')

print(titanic.head())
# print(titanic.shape)

# print(titanic2)
titanic2 = pd.DataFrame(titanic)
titanic2['won'] = titanic['fare']*1000



# print(titanic2)
print(titanic2.loc[:,['survived','age','fare','won']])
# print()

   survived  pclass     sex   age  sibsp  parch     fare embarked  class
0         0       3    male  22.0      1      0   7.2500        S  Third  \
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True
     survived   age     fare      won
0           0  22.0   7.2500   7250.0
1           1  38.0  71.2833  71283.3
2           1  26.0   7.9250   7925.0
3           1  35.0  53.1000  53100.0
4           0  35.0   8.0500   8050.0
..        ...   ...      ...      ...
886         0  27.0  13.0000  13000.0
887         1  19.0  30.0000  30000.0
888         0   NaN  23.4500  23450.0
889         1  26.0  30.0000  30000.0
890         0  32.0   7.7500   7750.0

[891 rows x 4 columns]

In [13]:
str_list = pd.Series(['apple','banana','grapes'],index=[1,2,3])
sr_dict = pd.Series({'1':'apple','2':'banana','3':'grapes'})

print(str_list)
print(sr_dict)

print(sr_dict.iloc[1:])
print(sr_dict.loc['2':])

1     apple
2    banana
3    grapes
dtype: object
1     apple
2    banana
3    grapes
dtype: object
2    banana
3    grapes
dtype: object
2    banana
3    grapes
dtype: object

In [17]:
dict_data={
    'c0':[1,2,3],
    'c1':10,
    'c2':list('ABC'),
}

df = pd.DataFrame(dict_data,index = range(1,4))
                    

print(df)

   c0  c1 c2
1   1  10  A
2   2  10  B
3   3  10  C

In [20]:
df_from_list=pd.DataFrame(
    [[90,80,'남',False],
     [80,89,'남',True],
     [70,95,'남',False]],
    columns =['수학','영어','성별','합격여부'],
    index = [1,2,3]
)
df_from_list

   수학  영어 성별   합격여부
1  90  80  남  False
2  80  89  남   True
3  70  95  남  False

In [23]:
df_from_list.rename(columns={'수학':'과학'},
                    index={1: '학생1'},inplace = True)
print(df_from_list)

     과학  영어 성별   합격여부
학생1  90  80  남  False
2    80  89  남   True
3    70  95  남  False

In [28]:
save_df= df_from_list.copy()

df_from_list.drop(['합격여부'],axis=1,inplace=True)

print(save_df)
print(df_from_list)

KeyError: "['합격여부'] not found in axis"

In [30]:
exam_data = {
    '수학': [90, 80, 70],
    '영어': [98, 89, 95],
    '음악': [85, 95, 100],
    '체육':[ 100, 90, 90]
}

df = pd.DataFrame(exam_data,
                  index= ['길동','흥민','민재'])

In [36]:
df['수학']

df.loc['흥민':'민재',:]
df.iloc[1:,2:]

     음악  체육
흥민   95  90
민재  100  90

In [39]:
print(df)

df.set_index('수학',inplace=True,append=True)

       영어   음악   체육
   수학
길동 90  98   85  100
흥민 80  89   95   90
민재 70  95  100   90

KeyError: "None of ['수학'] are in the columns"

In [42]:
print(df)

df_sorted=df.sort_values(by= '음악',ascending=False)
print(df_sorted)

       영어   음악   체육
   수학
길동 90  98   85  100
흥민 80  89   95   90
민재 70  95  100   90
       영어   음악   체육
   수학
민재 70  95  100   90
흥민 80  89   95   90
길동 90  98   85  100

In [44]:
student1_pre = pd.Series({'국어':100, '영어':80, '수학':90})
student1_post = pd.Series({'수학':80, '국어':90, '영어':80})

addition = student1_pre + student1_post

print(addition)

국어    190
수학    170
영어    160
dtype: int64

In [51]:
import seaborn as sns
sns.get_dataset_names

In [52]:
! pip install matplotlib

Requirement already satisfied: matplotlib in c:\users\chwo6\anaconda3\envs\pandas_study\lib\site-packages (3.7.1)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\chwo6\anaconda3\envs\pandas_study\lib\site-packages (from matplotlib) (1.0.7)
Requirement already satisfied: cycler>=0.10 in c:\users\chwo6\anaconda3\envs\pandas_study\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\chwo6\anaconda3\envs\pandas_study\lib\site-packages (from matplotlib) (4.39.3)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\chwo6\anaconda3\envs\pandas_study\lib\site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: numpy>=1.20 in c:\users\chwo6\anaconda3\envs\pandas_study\lib\site-packages (from matplotlib) (1.24.3)
Requirement already satisfied: packaging>=20.0 in c:\users\chwo6\anaconda3\envs\pandas_study\lib\site-packages (from matplotlib) (23.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\chwo6\anaconda3\envs\pandas_study\lib\site-packages (from matplotlib) (9.5.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\chwo6\anaconda3\envs\pandas_study\lib\site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\chwo6\anaconda3\envs\pandas_study\lib\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\chwo6\anaconda3\envs\pandas_study\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)

In [50]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [54]:
df1 = pd.read_csv('./read_csv_sample.csv',header=None)

FileNotFoundError: [Errno 2] No such file or directory: './read_csv_sample.csv'